.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogItem {
    padding: 10px;
}

.dialogItem a {
    text-decoration: none;
}

.dialogItem .active {
    color: gold;
}

.dialog {

}

